<div class="jumbotron text-center noselect">
	<div class="row">
		<h1 class="page-heading">WebStar</h1>
		<h2 class="page-motto">software services</h2>
	</div>
	<br class="hidden-xs">
	<hr class="line-emph">
	<br>
</div>
<div class="info-region page-height" style="height:300vh">
	<div class="topbar" data-100p="opacity:1" data-130p="opacity:0">
		<br>
		<br class="hidden-xs">
		<div class="row text-center topbar sticky-top">
			<div class="col-sm-4">
				<h2 class="text-emph">functional</h2>
			</div>
			<div class="col-sm-4">
				<h2 class="text-emph">creative</h2>
			</div>
			<div class="col-sm-4">
				<h2 class="text-emph">resourceful</h2>
			</div>
		</div>
		<br>
	</div>
	<hr>
	<span class="mouse-guide hidden-xs" data-0="opacity:.8; transform:scale(1)" data-200="opacity:0; transform:scale(5)"></span>
	<br>
	
</div>