<!--<div class="container-fluid visible-xs text-center" style="height:100vh; color:#FFF">-->
<!--	<br>-->
<!--	<br>-->
<!--	<h2>Hey there!</h2>-->
<!--	<hr>-->
<!--	<p>We just wanted to let you know that this is a brand new site, and mobile devices are not yet fully supported. Please consider using a computer for an especially awesome experience.</p>-->
<!--	<hr class="line-emph">-->
<!--	<br>-->
<!--</div>-->
<div class="jumbotron text-center noselect">
	<div class="row">
		<h1 class="page-heading">WebStar</h1>
		<h3>Software Mentoring</h3>
	</div>
	<br class="hidden-xs">
	<hr class="line-emph">
	<br>
</div>
<div class="info-region">
	<div class="page-height">
	    <br>
		<br class="hidden-xs">
    	<div class="topbar sticky-top" data-100p="opacity:1" data-130p="opacity:0">
    		<div class="row text-center">
    			<div class="col-sm-4">
    				<h2>your <span class="text-primary">IDEA</span></h2>
    			</div>
    			<div class="col-sm-4">
    				<h2>your <span class="text-primary">PLAN</span></h2>
    			</div>
    			<div class="col-sm-4">
    				<h2>your <span class="text-primary">CODE</span></h2>
    			</div>
    		</div>
    		<br>
    	</div>
	    <hr>
	    <span class="mouse-guide hidden-xs" data-0="opacity:.8; transform:scale(1)" data-200="opacity:0; transform:scale(5)"></span>
		<div class="text-center" data-50="opacity:0" data-300="opacity:1">
			<br>
			<h2>It all started with ideas.</h2>
			<br>
			<hr class="hidden-xs">
			<br>
			<div class="container">
				<hr class="visible-xs">
				<hr class="visible-xs">
				<div class="col-sm-4">
				    <img src="img/project/school-in-one.png" style="height:256px">
					<h3>Apps</h3>
				</div>
				<hr class="visible-xs">
				<div class="col-sm-4">
				    <img src="img/project/outstrung.png" style="height:256px">
				    <h3>Contests</h3>
				</div>
				<hr class="visible-xs">
				<div class="col-sm-4">
					<img src="img/project/lens.png" style="height:256px">
					<h3>Websites</h3>
				</div>
			</div>
		</div>
		<br>
		<hr>
		<br>
	</div>
	<div class="line-divider line-divider-dark"></div>
	<div class="education-region" data--30p-top="opacity:1" data--120p-top="opacity:0">
		<div class="container text-center">
		    <br>
			<br>
			<h2>Getting there wasn't easy.</h2>
			<br>
			<hr class="line-emph">
			<br>
			<div class="col-sm-4">
				<h3>High School</h3>
				<hr>
				<p>Computer science education simply hasn't been able to keep up with such a <emph>rapidly evolving</emph> field of study.</p>
			</div>
			<br class="visible-xs">
			<div class="col-sm-4">
				<h3>Self-teaching</h3>
				<hr>
				<p>The Internet is an excellent resource, but it can take <emph>several years</emph> to become a self-taught developer.</p>
			</div>
			<br class="visible-xs">
			<div class="col-sm-4">
				<h3>Internships</h3>
				<hr>
				<p>Sometimes a real-world work environment can be overwhelming without some <emph>prior knowledge</emph>.</p>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br><br><br><br><br><br>
	</div>
	<div class="page-height container text-center">
		<br>
		<br>
		<h2>This is why we're here for you.</h2>
		<hr>
		<br>
		<img src="img/icon-webstar.png" style="width:80vw" data-500-top="width:5vw" data-100-top="width:20vw" data--100-top="width:30vw">
	</div>
	<div class="page-height">
		<div class="line-divider line-divider-light"></div>
		<div class="text-center" style="background:#0E55C6; color:#FFF">
			<br>
			<h2>Here at WebStar,</h2>
			<div class="topbar sticky-top" style="background:inherit">
				<h3>Learn the way that suits you best.</h3>
				<br>
			</div>
		</div>
		<br>
		<hr>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 clickable service-panel service-panel-left" ng-class="{selected:$ctrl.service=='innovation'}" ng-click="$ctrl.service='innovation'; $ctrl.mobile && $ctrl.scrollTo('service-detail')">
					<div class="container-fluid">
						<h2>Innovation Hours<span class="text-danger">*</span></h2>
					</div>
					<hr class="line-emph">
					<div class="visible-xs container-fluid">
						<h5>Tap to learn more</h5>
						<hr>
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							<h4 class="list-group-item-heading"><emph>Internship style</emph></h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Agile methodology</h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Individual/team projects</h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading text-primary">One hour after school</h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading text-primary">Tuesdays & Thursdays</h4>
						</li>
					</ul>
					<hr>
				</div>
				<div class="col-sm-6 clickable service-panel service-panel-right" ng-class="{selected:$ctrl.service=='personal'}" ng-click="$ctrl.service='personal'; $ctrl.mobile && $ctrl.scrollTo('service-detail')">
					<div class="container-fluid">
						<h2>Personal Sessions</h2>
					</div>
					<hr class="line-emph">
					<div class="visible-xs container-fluid">
						<h5>Tap to learn more</h5>
						<hr>
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							<h4 class="list-group-item-heading"><emph>Individual mentoring</emph></h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Consulting & assistance</h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Work with professionals</h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading text-primary">Available by appointment</h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading text-primary">Individuals, teams, businesses</h4>
						</li>
					</ul>
					<hr>
				</div>
			</div>
			<!--<p class="text-muted">Learn more about <a href="https://en.wikipedia.org/wiki/Agile_software_development" target="_blank">Agile Development</a></p>-->
			<!--<hr>-->
			<br>
		</div>
		<div name="service-detail"></div>
		<div ng-show="$ctrl.service">
			<div class="no-transition" ng-if="$ctrl.service=='innovation'">
				<div class="container service-region service-region-left">
					<h2 class="text-center">Register Now</h2>
					<h4 class="text-center"><span class="text-danger">*</span> 50% off for upcoming cycle!</h4>
					<hr>
					<div class="container">
						<div class="row">
							<div class="col-sm-2">
							</div>
							<div class="col-sm-4">
								<h4 class="text-muted">$12 <br class="visible-xs"><small>registration</small></h4>
								<h4 class="text-muted">$12 <br class="visible-xs"><small>per session</small> <emph>x4</emph></h4>
								<hr>
								<h1 class="text-primary"><s>$60</s> <br class="visible-xs"><small>Per Cycle</small></h1>
								<h1 class="text-primary">$30 <br class="visible-xs"><small>Nov. 1-10</small></h1>
								<hr>
							</div>
							<div class="col-sm-4">
								<br>
								<h4><emph>Four sessions</emph> per Sprint Cycle</h4>
								<br>
								<br>
								<a class="btn btn-primary btn-lg" href="https://squareup.com/store/webstar" target="_blank">Reserve Spot</a>
							    <br>
							    <hr>
							</div>
							<div class="col-sm-2">
							</div>
						</div>
					</div>
				</div>
				<br>
				<hr>
			</div>
			<div class="no-transition" ng-if="$ctrl.service=='personal'">
				<div class="container service-region service-region-right">
					<h2 class="text-center">Schedule an Appointment</h2>
					<hr>
					<div class="container">
						<div class="row">
							<div class="col-sm-2">
							</div>
							<div class="col-sm-4">
								<h1 class="text-primary">$40 <br class="visible-xs"><small>Per Hour</small></h1>
								<hr>
								<p>Just let us know what times would work for you.</p>
								<hr>
								<a class="btn btn-primary btn-lg" href="mailto:ryanvandersmith@gmail.com?subject=WebStar Appointment" target="_blank">Get in Touch</a>
							</div>
							<div class="col-sm-4">
								<br>
								<h4><emph>Checks accepted</emph> at each meeting</h4>
							</div>
							<div class="col-sm-2">
							</div>
						</div>
						<hr>
					</div>
				</div>
			</div>
			<div class="container text-center noselect">
				<br>
				<div class="alert"><b>100%</b> of proceeds go toward affording college.</div>
			</div>
		</div>
	</div>
	<div ng-show="$ctrl.service">
		<div class="container">
			<br>
			<h2>Free at all WebStar sessions:</h2>
			<hr class="line-emph">
			<div class="row">
				<div class="col-sm-4">
					<h3 class="text-primary">Mentor Consulting</h3>
					<hr>
					<ul class="list-group">
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Professional perspectives</h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Specialized consultants</h4>
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h3 class="text-primary">Internet Hosting</h3>
					<hr>
					<ul class="list-group">
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Personal WebStar identity</h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Secure user authentication</h4>
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h3 class="text-primary">Project Promotion</h3>
					<hr>
					<ul class="list-group">
						<li class="list-group-item">
							<h4 class="list-group-item-heading">WebStar Dictionary entry</h4>
						</li>
						<li class="list-group-item">
							<h4 class="list-group-item-heading">Badge award ranking system</h4>
						</li>
					</ul>
				</div>
			</div>
			<hr>
			<br>
		</div>
		<br><br><br><br>
		<div class="page-height contact-region">
			<br>
			<h2 class="text-center">Feel free to chat with us!</h2>
			<hr class="line-emph">
			<br><br>
			<div class="contact">
				<div class="col-sm-3"></div>
				<div class="col-sm-2 hidden-xs">
					<img class="contact-image" src="img/thumb-ryan.jpg">
				</div>
				<div class="col-sm-4">
					<label>Ryan Vandersmith</label>
					<h4>Chief Consultant</h4>
					<hr>
					<div class="input-group input-group-lg">
						<span class="input-group-btn">
							<a class="btn btn-primary visible-xs" href="sms:7207379102"><span class="glyphicon glyphicon-send"></span></a>
							<a class="btn btn-primary" href="mailto:ryanvandersmith@gmail.com?subject=WebStar" target="_blank"><span class="glyphicon glyphicon-envelope"></span></a>
						</span>
						<p class="form-control text-static hidden-xs">ryanvandersmith@gmail.com</p>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</div>
</div>